</main>
</div>
</div>

<footer class="admin-footer">
    <div class="footer-left">
        © <%= new Date().getFullYear() %> Siddhivinayak Admin
    </div>
    <div class="footer-right">
        Designed by <strong>Siddhivinayak Team</strong>
    </div>
</footer>


</body>

</html>