.blog-banner{
    margin-top:80px;
    min-height:60vh;
    background:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)),url('../images/all_page_bg.jpg');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    text-align:center;
}

