.gradient-text {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #5a5ce5, #8526e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-left: 500px;
}

body {
    background: #f5f8fb;
    font-family: 'Segoe UI', sans-serif;
}


.blog-section {
    padding: 100px 0;
}

.blog-card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    transition: .4s;
    position: relative;
    background: #fff;
    margin-top: 5%;
}

.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, .15);
}

.blog-img {
    position: relative;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .6s;
}

.blog-img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(136, 45, 226, 0.7),
            rgba(28, 30, 186, 0.25));
    opacity: 0;
    transition: .5s;
}

.blog-card:hover .blog-img img {
    transform: scale(1.15);
}

.blog-card:hover .blog-img::after {
    opacity: 1;
}

.blog-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #1c1eba;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    z-index: 2;
}

.blog-meta {
    font-size: 14px;
    color: #6c757d;
}

.blog-btn {
    background: linear-gradient(45deg, #1c1eba, #882de2);
    border: none;
    border-radius: 25px;
    padding: 6px 18px;
}

.blog-btn:hover {
    opacity: .9;
}