<%- include('navbar.ejs') %>

<link rel="stylesheet" href="css/blog.css">

<section class="blog-banner">
    <div>
        <h1>Our Blog & News</h1>
        <p class="lead">Latest trends, tips & ideas for unforgettable events</p>
    </div>
</section>

<%- include('footer.ejs') %>