<%- include('navbar.ejs') %>

<link rel="stylesheet" href="css/privacy.css">

<!-- HEADER -->
<header class="privacy-top">
    <h1><i class="bi bi-shield-lock"></i> Privacy Policy</h1>
    <p>
        Your privacy is important to us. This Privacy Policy explains how
        EventSync Pro collects, uses, and protects your personal information.
    </p>

    <div class="update-badge">
        Last Updated: November 15, 2025
    </div>
</header>

<!-- CONTENT -->
<section class="container mb-2">
    <div class="privacy-content">

        <div class="privacy-section">
            <h3>1. Introduction</h3>
            <p>
         SIDDHIVINAYAK EVENT respects your privacy and is committed to protecting
                your personal data.
            </p>
        </div>

        <div class="privacy-section">
            <h3>2. Information We Collect</h3>
            <ul>
                <li>Name, email, phone number</li>
                <li>Event booking and registration details</li>
                <li>Payment and transaction information</li>
            </ul>
        </div>

        <div class="privacy-section">
            <h3>3. How We Use Your Information</h3>
            <ul>
                <li>Event management and communication</li>
                <li>Service improvement</li>
                <li>Security and fraud prevention</li>
            </ul>
        </div>

        <div class="privacy-section">
            <h3>4. Data Security</h3>
            <p>
                We use industry-standard security practices to protect your data.
            </p>
        </div>

           <div class="privacy-section">
    <h3>5. Contact Us</h3>

    
        
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+919876543210">+91 98765 43210</a>
             <br>
            <i class="fas fa-envelope"></i>
            <a href="mailto:siddhivinayakevents@gmail.com">
                siddhivinayakevents@gmail.com
            </a>
    
</div>


        <a href="/" class="back-home-btn">
            <i class="bi bi-arrow-left-circle me-2"></i> Back to Home
        </a>

    </div>
</section>

<%- include('footer.ejs') %>